body {
  font-family: serif;
  line-height: 1.5;
  background-color: #FAFDFE;
  color: #221814;
  margin:0;
}
a { 
  text-decoration: none;
  color: #3F4659;
}
a:hover {
color: #2362AD;
text-decoration: underline;
}

div#header {
  width: 100%;
  height: 130px;
  position: relative;
  background-color: #FAFDFE;
}

div#menuset {
  width: 900px;
  margin: 0px auto;
}

div#logo {
  position:relative;
  width: 138px;
  height: 140px;
  padding-top: 30px;
  background-color: white;
  border: solid 1px #666;
  border-top: none;
  text-align: center;
  z-index: 1;
}

div#menu {
  position:relative;
  top: -110px;
  left: 25%;
  height: 40px;
}

li.menu {
  display:inline-block;
  width: 120px;
  font-size: 10pt;
}
/* IE6,7のみに適用 */
html*.menu {
display: inline;
zoom: 1;
}

a.menu { 
  text-decoration: none;
  color: #3F4659;
}
a.menu:hover {
color: #2362AD;
text-decoration: underline;
}

div#topimage{
position:relative;
background-image: url(../img/koi_bg.jpg);
width: 100%;
height: 330px;
text-align: center;
}

div#register {
color:#fef4f4;
text-align:center;
padding: 40px;
margin: 0px;
}

button {
  width:200px;
  margin:0 auto;
  text-align:center;
  color: #fff;
  font-size: 18px;
  padding: 10px; 
  background: -moz-linear-gradient(
		top,
		#C67DB1 0%,
		#C2440A);
  background: -webkit-gradient(
		linear, left top, left bottom,
		from(#C67DB1),
		to(#C2440A));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

button:hover {
  background: -moz-linear-gradient(
		top,
		#7FAEC6 0%,
		#184B89);
  background: -webkit-gradient(
		linear, left top, left bottom,
		from(#7FAEC6),
		to(#184B89));
  border: 1px solid #000000;
}
b.price {
color: #ffcccc;
font-size: 14px;
}

article {
  width: 900px;
  margin: 24px auto;
}

h2 {
  font-size:12pt;
  padding-left: 25px;
  background-image: url(../img/listicon1.png);
  background-repeat: no-repeat;
  width: 225px;
  display: table-cell;
}

p {
  display: table-cell;
}

div.speakers{
  display: table-cell;
  font-size: 10pt;
}

h3{
font-size: 12pt;
color: #4E5D7F;
margin: 0px;
clear: left;
}

ul.speakers{
 margin-top: 0px;
}
li.speakers {
  float: left;
  text-align: center;
  padding: 0px 20px 40px 20px;
  list-style: none;
} 
/* IE6,7のみに適用 */
html*.speakers {
display: inline;
zoom: 1;
}
img.gravatar{
width: 150px;
}

table#timetable{
  margin-left: 270px;
  margin-top: -35px;
  width: 65%;
  padding: 10px 30px;
  border-spacing: 0px;
}
td{
border-bottom:solid #999 1px;
vertical-align: top;
}
td.time{
width: 80px;
}

footer { 
  width:100%;
  background-color:#2362AD;
  color:#fef4f4;
  text-align:center;
}
a.footerlink {
  text-decoration: none;
  color: #99dddd;
}
a.footerlink:hover {
  text-decoration: underline;
  color: #99dddd;
}

