body {
  font-family: serif;
  line-height: 1.5;
  background-color: #FAFDFE;
  color: #221814;
  margin:0;
}
a { 
  text-decoration: none;
  color: #3F4659;
}
a:hover {
color: #2362AD;
text-decoration: underline;
}

div#header {
  width: 100%;
  height: 130px;
  position: relative;
  background-color: #FAFDFE;
}

div#menuset {
  width: 900px;
  margin: 0px auto;
}

div#logo {
  position:relative;
  width: 138px;
  height: 140px;
  padding-top: 30px;
  background-color: white;
  border: solid 1px #666;
  border-top: none;
  text-align: center;
  z-index: 1;
}

div#menu {
  position:relative;
  top: -110px;
  left: 25%;
  height: 40px;
}

li.menu {
  display:inline-block;
  width: 120px;
  font-size: 10pt;
}
/* IE6,7のみに適用 */
html*.menu {
display: inline;
zoom: 1;
}

a.menu { 
  text-decoration: none;
  color: #3F4659;
}
a.menu:hover {
color: #2362AD;
text-decoration: underline;
}

div#topimage{
position:relative;
background-image: url(../img/koi_bg.jpg);
width: 100%;
height: 330px;
text-align: center;
}

div#register {
color:#fef4f4;
text-align:center;
padding: 40px;
margin: 0px;
}

button {
  width:200px;
  margin:0 auto;
  text-align:center;
  color: #fff;
  font-size: 18px;
  padding: 10px; 
  background: -moz-linear-gradient(
		top,
		#C67DB1 0%,
		#C2440A);
  background: -webkit-gradient(
		linear, left top, left bottom,
		from(#C67DB1),
		to(#C2440A));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

button:hover {
  background: -moz-linear-gradient(
		top,
		#7FAEC6 0%,
		#184B89);
  background: -webkit-gradient(
		linear, left top, left bottom,
		from(#7FAEC6),
		to(#184B89));
  border: 1px solid #000000;
}
b.price {
color: #ffcccc;
font-size: 14px;
}

article {
  width: 900px;
  margin: 24px auto;
}

h2 {
  font-size:12pt;
  padding-left: 25px;
  background-image: url(../img/listicon1.png);
  background-repeat: no-repeat;
  width: 225px;
  display: table-cell;
}

p {
  display: table-cell;
}

div.speakers{
  display: table-cell;
  font-size: 10pt;
}

h3{
font-size: 12pt;
color: #4E5D7F;
margin: 0px;
clear: left;
}

ul.speakers{
 margin-top: 0px;
}
li.speakers {
  font-size: 16px;
  line-height: 1.2;
  float: left;
  text-align: center;
  padding: 0px 20px 40px 20px;
  list-style: none;
} 
/* IE6,7のみに適用 */
html*.speakers {
display: inline;
zoom: 1;
}
img.gravatar{
width: 150px;
padding: 5px;
background: #fff;
border: 1px solid #bfbfbf;
}

article#ttbox {
position:relative;
height: 920px;
}

div#ttbg {
width : 100%;
height: 920px;
position:relative;
top: 0;
right: -200px;
z-index: 0;

}
div.timeline {
height: 90px;
border-top: solid 1px #456293;
color: #456293;
}

div#timetable{
position:relative;
top: -920px;
right: -200px;
z-index: 1;
width: 90%;
padding: 0px 70px;
}

div.program {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin: 6px 0 4px 0;
  border: 1px solid #49738F;
  position:relative;
  align-items: center;
}
div.p_w{
  background-color: #E3EFF5;
}
div.p_b{
  background: -moz-linear-gradient(
		top,
		#49738F 0%,
		#7EAEC9);
  background: -webkit-gradient(
		linear, left top, left bottom,
		from(#49738F),
		to(#7EAEC9));
}

span.time {
padding-left: 0.5em;
font-size: 18px;
color: #161B61;
}

b.program {
color: #EEEFEF;
padding-right: 1em;
font-size: 18px;
}

span.time2 {
padding-left: 0.5em;
font-size: 16px;
color: #49738F;
}

b.program2 {
color: #49738F;
padding-right: 1em;
font-size: 16px;
}

span.speakers_name{
color: #EEEFEF;
padding-right: 0.5em;
}

div.fifteenmin {
height: 20px;
}
div.thirtymin {
height: 48px;
}
div.fourtymin {
height: 58px;
}
div.sixtymin {
height: 80px;
}
div.nintymin {
height: 126px;
margin-top: 8px;
}

span.title{
  color: #2362AD;
  padding-left: 20px;
}

footer { 
  width:100%;
  background-color:#2362AD;
  color:#fef4f4;
  text-align:center;
}
a.footerlink {
  text-decoration: none;
  color: #99dddd;
}
a.footerlink:hover {
  text-decoration: underline;
  color: #99dddd;
}

